.App {
  text-align: center;
}

.timeline {
  display: flex;
  width: 50%;
  height: 102%;
}

.timeline-base {
  background-color: black;
  width: 12px;
}

.timeline-nodes {
  width: 90%;
}

.timeline-node-left {
  display: flex;
  width: 80%;
  padding-left: 20%;
}

.timeline-node-left .timeline-marker {
  width: 20%;
  border-bottom: 2px black solid;
  height: 15px;
  background-color: blue;
}

.timeline-node-left .timeline-content {
  width: 80%;
  border-right: 2px black solid;
  padding: 2px;
  background-color: red;
}

.timeline-node-right {
  display: flex;
  width: 80%;
  padding-right: 20%;
  margin-left: 100%;
}

.timeline-node-right .timeline-marker {
  width: 20%;
  border-bottom: 2px black solid;
  height: 15px;
  background-color: cyan;
}

.timeline-node-right .timeline-content {
  width: 80%;
  border-left: 2px black solid;
  padding: 2px;
  background-color: green;
}
